VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
VITE_SUPABASE_URL=https://bvovkmkwbkmclszccbns.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2b3ZrbWt3YmttY2xzemNjYm5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMzIzNTUsImV4cCI6MjA5MDYwODM1NX0.BPEY2NAaa2j0nS6BmyoPJWUEVuoZtnJ3M42Dizxjjpw
